.demo-card-square.mdl-card {
  width: 320px;
  height: 320px;
}
.demo-card-square > .mdl-card__title {
  color: #fff;
  background:
    url('../images/trainstation.jpeg') left bottom 40% no-repeat #46B6AC;
}