{% extends 'base.html' %}

{% block title %}
    Reisplanner
{% endblock %}

{% block content %}

    Reisplanner

    <br/><br/>

    <form method="POST">
        {% csrf_token %}
        {{ form }}
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

    {% if request.POST %}

    <div class="container">
            <div class="row">
                <div class="col-md-6 infobox">
                    <div class="row">
                        <div class="col-md-9 infoboxText">
                            {{ vertrekTijd }} -> 16:14 {{ status }}
                        </div>
                        <div class="col-md-1">
                            {{ actueleReisTijd }}
                        </div>
                        <div class="col-md-1">
                            {{ aantalOverstappen }}x
                        </div>
                        <div class="col-md-1">
                            6
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-9">

                        </div>
                    </div>
                </div>
            </div>

        <!--<div class="row">-->
            <!--<div class="col-md-3">-->
                <!--intercity + intercity-->
            <!--</div>-->
        <!--</div>-->
    </div>
    {% endif %}

{% endblock %}