{% extends 'base.html' %}

{% block title %}
    Reisplanner
{% endblock %}

{% block content %}

    Reisplanner

    <br/><br/>


    <form method="get">
        <label for="beginstation">Beginstation:</label>
        <input type="text" name="beginstation" id="beginstation">
        <label for="eindstation">Eindstation:</label>
        <input type="text" name="eindstation" id="eindstation">
        <button type="submit">Submit</button>
    </form>

    {% if jsonData %}
        {% for data in jsonData %}
            {{ reisDeel }}
            <div class="container">
                <div class="row">
                    <div class="col-md-6 infobox">
                        <div class="row">
                            <div class="col-md-9 infoboxText">
                                <strong>{{ data.VertrekTijdFormat }} -> {{ data.AankomstTijdFormat }}</strong>{{ data.AankomstVertraging }}
                            </div>
                            <div class="col-md-1">
                                {{ data.GeplandeReisTijd }}
                            </div>
                            <div class="col-md-1">
                                {{ data.AantalOverstappen }}x
                            </div>
                            <div class="col-md-1">
                                {{ data.SpoorNummer }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br/>
        {% endfor %}
    {% endif %}

{% endblock %}